.mrt-mobile-viewer {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

.clusters-container {
    float: left;
    display: flex;
}

.mrt-mobile-card {
    width: 100vw;
    display: flex;
}

.card-timeline {
    width: 15vw;
    position: relative;
}

.card-container {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 5px;
}

.cluster-header {
    font-size: 1.5em;
    text-align: center;
    display: flex;
    width: 100vw;
    position: relative;
}

.cluster-header .btn {
    width: 10vw;
}

.cluster-header .btn i {
    margin-top: 0;
    position: relative;
}

.cluster-header .content {
    width: 80vw;
    font-weight: 550;
}

.cluster-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.power-ball {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    height: 20px;
    width: 20px;
}

.card-timeline-line {
    position: absolute;
    height: 100%;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
}

.card-timeline-line.start {
    height: calc(100% - 10px);
    top: 45px;
}

.card-timeline-line.end {
    height: 10px;
    top: 35px;
}

.card-timeline-line.end.start {
    height: 0;
}

.card-container .node {
    margin-bottom: 10px;
}

.card-container .node .title {
    font-weight: 550;
    line-height: 1.2;
}

.card-container .node .detail {
    margin: 5px 8px 10px 8px;
    line-height: 1.3;
}

.card-container .node .detail div {
    margin-top: 2px;
}

.card-node-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.card-container .more {
    float: right;
    margin-right: 10px;
    text-decoration: underline;
}

.header-card  {
    background: #eeeeee;
    padding-top: 10px;
}